
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
body, html {
	width: 100%;
	height: 100%;
	background: #E0E8EB;
	font-family:'Nunito', helvetica, sans-serif;
}

.carousel {
  height: auto;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: auto;
  background-color: #777;
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img{

   display: block;

height: auto;

 line-height: 1;

margin: 0 auto;

width: 50%;

}

.navbar-inverse .navbar-nav > li > a {
	color: #eee;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background: #D06396;
}


.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #E0E8EB;
    color: #D06396;
    border-radius: .5em;
}

.navbar {
	width: 100%;
	height: auto;
	border-radius: 0;
	padding: 1em;
	background: #3a4e71;
	border-width: 0 .5em .5em .5em;
	border-image: url('../img/postcard.jpg') 0 0 20 0 round;
}

.navbar-brand p {
	width: 12em;
	color: #eee;
}

.jumbotron {
	margin-bottom: 1em;
	background: url('../img/postCard.jpg') no-repeat;
	background-size: 100%;
	background-color: #3a4e71;
	color: #eee;
}

.jumboImg {
	background: url('../img/dena.jpg');
	background-size: cover;
	margin: 0 auto;
	width: 15em;
	height: 15em;
	border-radius: 50%;
	border: .5em solid #3a4e71;
}

#content {
	background: #3d5176;
}


.box {
	background: #2c436d;
	margin-right: 2%;
	margin-left:  2%;
	min-height: 15em;
	margin-bottom: 5%;
	border-radius: .5em;
	text-decoration: none;
	color: #eee;
	text-align: center;
}

.box:active {
	border: .5em solid #D06396;
	text-decoration: underline;
}

#box1 {
	background-image: radial-gradient(ellipse at center, rgba(55,78,112,0) 0%,rgba(55,78,112,0) 100%), url('../img/barOne.jpg');
	background-size: 100% auto;
	
}

#box1:active {
	background-image: radial-gradient(ellipse at center, rgba(55,78,112,0.5) 0%,rgba(55,78,112,.5) 100%), url('../img/barOne.jpg');
}


#box2 {
	background-image: radial-gradient(ellipse at center, rgba(55,78,112,0) 0%,rgba(55,78,112,0) 100%),url('../img/barTwo.jpg');
	background-size: cover;

}

#box2:active {
	background-image: radial-gradient(ellipse at center, rgba(55,78,112,0.5) 0%,rgba(55,78,112,.5) 100%),url('../img/barTwo.jpg');
}

#box3 {
	background: radial-gradient(ellipse at center, rgba(55,78,112,0) 0%,rgba(55,78,112,0) 100%),url('../img/barThree.jpg');
	background-size: cover;

}

#box3:active {
	background-image: radial-gradient(ellipse at center, rgba(55,78,112,0.5) 0%,rgba(55,78,112,0.5) 100%),url('../img/barThree.jpg');
}

#box4 {
	background: radial-gradient(ellipse at center, rgba(55,78,112,0) 0%,rgba(55,78,112,0) 100%),url('../img/barFour.jpg');
	background-size: cover;

}

#box4:active {
	background-image: radial-gradient(ellipse at center, rgba(55,78,112,0.5) 0%,rgba(55,78,112,0.5) 100%),url('../img/barFour.jpg');
}


#footer {
	background: #3a4e71;
	color: #eee;
	text-align: center;
	margin-top:5.1em;
	height: 4.3rem;
	border-width: 0.5em .5em .5em .5em;
	border-image: url('../img/postcard.jpg') 25 0 0 0 round;
}




/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.jumboImg {
	margin: 0 0;
	}
	.box {
		margin: 1% 1%;
	}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.carousel-inner > .item > img {
 		min-width: 100%;
	}
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #E0E8EB;
    color: #D06396;
    border-radius: .5em;
	}
	.box {
	width: 23%;
	margin-right: 1%;
	margin-left:  1%;
	margin-bottom: 3.2em;
	transition: border .5s;
	}
	.box:hover {
		border: .5em solid #D06396;
		text-decoration: underline;
	}
	#box1:hover {
		background-image: radial-gradient(ellipse at center, rgba(55,78,112,0.5) 0%,rgba(55,78,112,.5) 100%), url('../img/barOne.jpg');
	}
	#box2:hover {
		background-image: radial-gradient(ellipse at center, rgba(55,78,112,0.5) 0%,rgba(55,78,112,.5) 100%),url('../img/barTwo.jpg');
	}
	#box3:hover {
		background-image: radial-gradient(ellipse at center, rgba(55,78,112,0.5) 0%,rgba(55,78,112,0.5) 100%),url('../img/barThree.jpg');
	}
	#box4:hover {
		background-image: radial-gradient(ellipse at center, rgba(55,78,112,0.5) 0%,rgba(55,78,112,0.5) 100%),url('../img/barFour.jpg');
	}
}